/*!
    @import /amethyst_window/src/config.rs#DisplayConfig
    DisplayConfig
*/

(
    title: "Roguelite Mages | build xxx.xxx.xxx.xx",
    dimensions: Some((1920, 1080)),
    fullscreen: Some((69, "420")),
)