#![enable(implicit_some)]
Container (
    transform: (
        id: "pause_overlay",
        anchor: Middle,
        stretch: XY( x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
        width: 20.,
        height: 20.,
    ),
    // RGB Transparency
    background: SolidColor(0.122, 0.133, 0.149, 0.2),
    children: [],
)